{% extends 'layouts/base.html.twig' %}

{% block title %} Estate Agency - Properties{% endblock %}

{% block body %}
    <main id="main">
        {#Intro Single #}

        {{ include ('property/partials/_intro_single.html.twig')}}
    </main>
{% endblock %}
